<section class="jumbotron">
  <h1>Acute Kitten Uploader</h1>
  <p class="lead">
<!--     <img src="images/yeoman.png" alt="I'm Yeoman"><br> -->
    Add cute photos of your favourite felines.<br/>This app is pretty pointless.
  </p>
</section>

<section class="row">
  <form ng-controller="MainCtrl" class="text-center">
    <input class="upload-input" type="file" accept=".jpeg, .jpg, .png, .gif" ng-model="files" multiple >
    <button ng-click="upload()" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-upload"></span> Upload</button>
  </form>

</section>
